__pycache__/
wandb/
logs/
outputs/
*.run
.ipynb_checkpoints/
checkpoints/
data/
*.tar.gz
*.webm
*.gif
../nanoVLM/checkpoints/
../nanoVLM/wandb/
../nanoVLM/**/__pycache__/
../4M_Tutorial/retrieval_data/
../4M_Tutorial/*.tar.gz
../4M_Tutorial/*.webm
../4M_Tutorial/**/__pycache__/
**/.ipynb_checkpoints/
